.login-body {
  background-color: var(--background-color, #f8f8f8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-logo-container {
  margin-bottom: 2rem;
}

.login-logo-svg {
  width: 400px; /* увеличено для большей видимости */
  height: auto;
}

/* Новая разметка формы */
.login-form {
  width: 40rem; /* увеличено для более просторного отображения */
  height: 20rem; /* увеличена высота */
  display: flex;
  gap: 20px;
  background: #fff;
  border: 1px solid var(--border-color, #dddddd);
  border-radius: var(--radius, 8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
}

.form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  text-align: left;
}

.field label {
  display: block;
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--text-color, #333);
}

.field input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-color, #dddddd);
  border-radius: var(--radius, 8px);
  font-size: 1.25rem;
}

.form-button {
  display: flex;
  align-items: stretch;
}

.form-button-button {
  width: 100px; /* расширено */
  padding: 0; 
  border: none;
  background-color: var(--primary-color, #003366);
  color: #fff;
  border-top-right-radius: var(--radius, 8px);
  border-bottom-right-radius: var(--radius, 8px);
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Переопределяем hover для кнопки */
.form-button-button:hover {
  background-color: var(--secondary-color, #005b96);
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}