  /* ===== Navbar ===== */
  .navbar {
    height: 4rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  
  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  

  
  .navbar-center h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .navbar-right button {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .navbar-right button:hover {
    background: #fff;
    color: #007bff;
  }