.sidebar {
  background-color: var(--secondary-color);
  width: 4rem;
  border-style: none;
  transition: width 0.7s ease-out;
  height: 100%;
  .logo-container img{
    height: 2rem;
    transition: height 0.5s ease;
  }
  .logo-container h3{
    white-space: nowrap;
  }
}
.left-con {
  background-color: var(--secondary-color);
}

.sidebar:hover {
  .logo-container img {
    height: 4rem;
  }
  width: 15rem;
}

.sidebar.open-status{
  .logo-container img {
    height: 4rem;
  }
  width: 15rem;
}

.sidebar.sidebar.open-status .accordion-header span {
  opacity: 1;
}


.sidebar h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 5px 0;
  font-size: 1em;
}

/* ===== Buttons ===== */
.sidebar-button {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid #0033662f;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: var(--radius);
  width: 100%; /* Make the button take the full width of the div */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.sidebar-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--button-border-color-hover);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: var(--logo-background-color);
  height: 4rem;
}
.logo-container h3{
  margin: 10px;
  font-size: 1rem;
}

.accordion-item {
  background-color: var(--primary-color);
}

.accordion-header {
  display: flex;           /* Добавляем flex */
  align-items: center;     /* Центрируем по вертикали */
  background-color: var(--secondary-color);
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s ease;
}
.accordion-header img{
  height: 2rem;
}

/* Прячем текст */
.accordion-header span {
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* Показываем текст при ховере на боковую панель */
.sidebar:hover .accordion-header span {
  opacity: 1;
}

.accordion-header.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.accordion-header:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.accordion-content {
  background-color: #f9f9f9;
}
/* ===== Accordion Content Styles ===== */
.module-item{
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--module-item-bg-color);
  transition: background-color 0.3s ease;  
}
.module-item:hover{
  background-color: var(--module-item-bg-color-hover);
}

